name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
    - name: Install Packages
      run: npm install -f
    - name: Lint
      run: npm run lint
    - name: Build
      run: npm run build
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Target Packages
      run: |+
          npm install --legacy-peer-deps
    - name: Test
      run: npm test
  test-for-old-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x]
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Target Packages
      run: |+
          npm install @typescript-eslint/parser@5 --legacy-peer-deps
          npm install --legacy-peer-deps
    - name: Test
      run: npm test
  test-and-coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: 22.x
    - name: Install Packages
      run: npm install
    - name: Test
      run: npm run test:nyc
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
