name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

# Allow one concurrent deployment
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
    - uses: actions/cache@v4
      with:
        path: node_modules
        key: ${{ runner.os }}-${{ hashFiles('package.json') }}-${{ github.ref }}
    - name: Install Packages
      run: npm install -f
    - name: Lint
      run: npm run lint
    - name: Build
      run: npm run build
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x, 22.x, 24.x]
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Packages
      run: npm install -f
    - name: Test
      run: npm test
  test-for-old-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x]
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Target Packages
      run: |+
          npm install @typescript-eslint/parser@5 --legacy-peer-deps
          npm install --legacy-peer-deps
    - name: Test
      run: npm test
